<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Judy2._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Judy2._0.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Judy2._0.My.MySettings>
            <setting name="Name01" serializeAs="String">
                <value>Judy</value>
            </setting>
            <setting name="Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C" serializeAs="String">
                <value />
            </setting>
            <setting name="Tabs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Autotab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Autoplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Resp" serializeAs="String">
                <value />
            </setting>
            <setting name="Resp2" serializeAs="String">
                <value />
            </setting>
            <setting name="Close" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nmbr" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Term" serializeAs="String">
                <value />
            </setting>
            <setting name="Add_Text" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordOn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Restart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Record" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Custom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Wallpaper" serializeAs="String">
                <value>Default.jpg</value>
            </setting>
            <setting name="Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SizeMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="Balance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Speech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Voice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Link" serializeAs="String">
                <value />
            </setting>
            <setting name="VoiceCommands" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Face" serializeAs="String">
                <value />
            </setting>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
            <setting name="Responce" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Memory" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ButtonSize" serializeAs="String">
                <value>0</value>
            </setting>
        </Judy2._0.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Judy2._0.My.MySettings>
            <setting name="Test" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Clor" serializeAs="String">
                <value>Window</value>
            </setting>
        </Judy2._0.My.MySettings>
    </applicationSettings>
</configuration>